body {
  padding-top: 3rem;
  color: #555555;
  min-height: 100%;
}

a {
  color: #198cb3;
}

.nav-link {
  margin: 0 0.5rem;
}

.nav-tabs .nav-link:hover {
 color: #106e8c !important;
}

.nav-link-active {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding-bottom: 3px;
}

.page-header {
  padding: 2rem;
  display: block;
  color: white;
  background-color: #198cb3;
}

.docs-container {
 position: fixed;
 bottom: 4.5rem;
 top: 3rem;
 left: 0;
 right: 0;
}

.docs-container iframe {
 border: none;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.blog {
  padding: 3rem;
}

.blog-post-divider {
  margin: 2rem 0; /* Space out the Bootstrap <hr> more */
}

.blog-post-navigation {
  margin: 3rem 0;
}

.blog-post-image {
  padding: 2rem 0;
}

.blog-post-image-fluid {
  display: block;
  max-width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}

.blog-post-categories {
  margin: 3rem 0;
}

.blog-post-categories-postedin {
  font-weight: bold;
}

.blog-post-category {
  background-color: #198cb3;
  color: white;
  padding: 3px;
}

.blog-post-category:hover {
  color: white;
  background-color: #106e8c !important;
}

.footnote {
 font-size:0.7em;
}

.forum, .get-involved, .privacy, .about {
  padding: 3rem 0;
}

.facts {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.facts li {
  counter-increment: step-counter;
  margin-bottom: 1rem;
}
.facts li::before {
  content: counter(step-counter);
  margin-right: 0.8rem;
  display: block;
  float: left;
  font-size: 0.8rem;
  background-color: #198cb3;
  color: white;
  font-weight: bold;
  padding: 0.25rem 0.65rem;
  border-radius: 0.9rem;
}

.btn-primary {
 border-color: #106e8c !important;
 background-color: #198cb3 !important;
}

.btn-outline-primary {
 border-color: #198cb3 !important;
 color: #198cb3;
}

.btn-highlight {
 border-color: #106e8c !important;
 background-color: #00acdc !important;
}

.btn-highlight:focus, .btn-primary:hover, .btn-primary:focus, .btn-outline-primary:hover {
 box-shadow: none !important;
 background-color: #106e8c !important;
}

.download-page {
 padding: 3rem;
 text-align: center;
}

.btn-dl {
 position:relative;
 margin:4px;
 text-align:left;
 padding:1em 1em 1em 5em;
 color: white !important;
}

.download-icon {
 display: block;
 position: absolute;
 left: .2em;
 top: .3em;
}

.btn-dl .download-icon {
 display:block;
 position:absolute;
 left:.2em;
 top:.3em;
 opacity:.9
}

.dl-platform {
 font-size:1.3em;
 font-weight:bold;
}

.dl-rss {
 margin-top:2rem;
 margin-bottom:0;
 text-align:left;
}

.dl-footer-divider {
 margin: 2rem 0; /* Space out the Bootstrap <hr> more */
}

.content {
 padding-bottom: 4rem;
}

.footer {
 position: fixed;
 bottom: 0;
 right: 0;
 left: 0;
 padding: 1.5rem;
 color: white;
}

.footer .links {
 margin-top: -0.5rem;
 font-size: 1.5rem;
}

.footer a {
  color: white;
  padding: 1rem;
}

.bg-dark {
 background-color: #106e8c !important;
}

.tab-pane {
  padding: 2rem;
}

.version-label {
 padding-top: 2rem;
 font-size: 1.2rem;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  background-color: #198cb3;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 24rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.featurette-divider {
  margin: 4rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


@media (min-width: 20em) {
  .carousel-caption img {
    display: none;
  }
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.6;
  }

  .featurette-heading {
    font-size: 40px;
  }
}

@media (min-width: 62em) {
  .carousel-caption img {
    display: block;
  }
  .featurette-heading {
    margin-top: 1rem;
    font-size: 50px;
  }
}

.carousel-fade .carousel-item {
    opacity: 0;
    -webkit-transition-duration: .9s;
    transition-duration: .9s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

@supports (transform-style: preserve-3d) {
    .carousel-fade .carousel-item-next,
    .carousel-fade .carousel-item-prev,
    .carousel-fade .carousel-item.active,
    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-prev {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
