<footer>
  <div class="footer bg-dark">
    <div class="row">
      <div class="col-sm">
        &copy; 2018 Veyon Solutions <a href="/about/">&raquo; About</a> <a href="/privacy/">&raquo; Privacy Policy</a><br/>
      </div>
      <div class="col-sm links">
        <div class="float-right">
          <a href="https://github.com/veyon/veyon/" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.youtube.com/channel/UC6TO8hXkfxXPIaAknvPXeNA" target="_blank"><i class="fab fa-youtube"></i></a>
          <a href="https://twitter.com/veyon_io" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://facebook.com/veyon.io/" target="_blank"><i class="fab fa-facebook"></i></a>
      </div>
    </div>
  </div>
</footer>
