<div class="container marketing">
  <footer>
    <span>&copy; 2017-2018 <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><span itemprop="name">Veyon Community</span></span> / <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Tobias Junghans</span></span>
  </footer>
</div>

<script src="{{ "/js/jquery-slim.min.js" | prepend: site.baseurl }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
