<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Veyon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{{ /"/" | prepend: site.baseurl }}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/veyon/veyon/releases/">Download</a></li>
        <li class="nav-item"><a class="nav-link" href="http://docs.veyon.io/">Documentation</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.paypal.com/cgi-bin/webscr?item_name=Donation+to+Veyon+-+Virtual+Eye+On+Networks&cmd=_donations&business=donate%40veyon.io">Donate</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/veyon/veyon/">Veyon on GitHub</a></li>
        <li class="nav-item"><a class="nav-link" href="https://facebook.com/veyon.io/">Veyon on Facebook</a></li>
      </ul>
    </div>
  </nav>
</header>
