<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Veyon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link {% if page.navid == 'home' %} active nav-link-active {% endif %}" href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
        <li class="nav-item"><a class="nav-link {% if page.navid == 'download' %} active nav-link-active {% endif %}" href="/download/">Download</a></li>
        <li class="nav-item"><a class="nav-link {% if page.navid == 'docs' %} active nav-link-active {% endif %}" href="/docs/">Documentation</a></li>
        <li class="nav-item"><a class="nav-link {% if page.navid == 'forum' %} active nav-link-active {% endif %}" href="/forum/">Forum</a></li>
        <li class="nav-item"><a class="nav-link {% if page.navid == 'blog' or page.layout == 'post' %} active nav-link-active {% endif %}" href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a></li>
        <li class="nav-item"><a class="nav-link {% if page.navid == 'get-involved' %} active nav-link-active {% endif %}" href="{{ "/get-involved/" | prepend: site.baseurl }}">Get involved</a></li>
      </ul>
    </div>
  </nav>
</header>
