<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><span itemprop="name">Veyon</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link {% if page.navid == 'home' %} active nav-link-active {% endif %}" href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
        <li class="nav-item"><a itemprop="downloadUrl" class="nav-link {% if page.navid == 'download' %} active nav-link-active {% endif %}" href="/download/">Download</a></li>
        <li class="nav-item"><a class="nav-link" href="http://docs.veyon.io/">Documentation</a></li>
        <li class="nav-item"><a class="nav-link {% if page.navid == 'blog' or page.layout == 'post' %} active nav-link-active {% endif %}" href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a></li>
        <li class="nav-item"><a class="nav-link {% if page.navid == 'get-involved' %} active nav-link-active {% endif %}" href="{{ "/get-involved/" | prepend: site.baseurl }}">Get involved</a></li>
      </ul>
      <ul class="navbar-nav ml-auto justify-content-end">
        <li class="nav-item"><a class="nav-link" href="https://www.paypal.com/cgi-bin/webscr?item_name=Donation+to+Veyon+-+Virtual+Eye+On+Networks&cmd=_donations&business=donate%40veyon.io" target="_blank"><i class="fab fa-paypal"></i>&nbsp;Support</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/veyon/veyon/" target="_blank"><i class="fab fa-github"></i>&nbsp;GitHub</a></li>
        <li class="nav-item"><a class="nav-link" href="https://facebook.com/veyon.io/" target="_blank"><i class="fab fa-facebook"></i>&nbsp;Facebook</a></li>
        <li class="nav-item"><a class="nav-link" href="https://twitter.com/veyon_io" target="_blank"><i class="fab fa-twitter"></i>&nbsp;Twitter</a></li>
      </ul>
    </div>
  </nav>
</header>
