<script src="{{ "/js/jquery-slim.min.js" | prepend: site.baseurl }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "SoftwareApplication",
  "name": "Veyon",
  "downloadUrl": "https://veyon.io/download/",
  "applicationCategory": "computer monitoring, classroom management, remote control",
  "operatingSystem": "Windows, Linux",
  "image": "https://veyon.io/img/veyon-logo.png",
  "softwareVersion": "4.0.7",
  "datePublished": "2018-04-18",
  "screenshot": "https://veyon.io/img/veyon-master-1.jpg",
  "softwareHelp": {
    "@type": "CreativeWork",
    "url": "https://veyon.io/docs/"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Veyon Solutions"
  }
}
</script>
