---
layout: default
navid: blog
---

{% assign author = site.data.authors[page.author] %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="page-header text-center">Veyon Blog</h1>
  <div class="container blog">
    <header class="blog-post-header">
      <h2 class="blog-post-title" itemprop="name headline">{{ page.title }}</h2>
      <span class="blog-post-meta">by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ author.name }}</span></span> on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></span>

    </header>
    {% if page.image %}
    <div class="blog-post-image">
      <img src="{{ page.image | prepend:site.baseurl }}" class="img-fluid" alt="" />
    </div>
    {% endif %}
    <div class="blog-post-content" itemprop="articleBody">
      {{ content }}
    </div>
    <div class="blog-post-categories">
      <span class="blog-post-categories-postedin">Posted in:&nbsp;</span>
      {% for category in page.categories %}
        <a href="{{site.baseurl}}/blog/categories/#{{category|slugize}}" class="blog-post-category">{{category | capitalize}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
    <div class="blog-post-navigation row">
      {% if page.previous.url %}
        <div class="col-md-6"><a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a></div>
      {% endif %}
      {% if page.next.url %}
        <div class="col-md-6"><a class="float-right" href="{{page.next.url}}">{{page.next.title}} &raquo;</a></div>
      {% endif %}
    </div>
    <br/>
    <hr class="blog-post-divider">
  </div>
</article>

